body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    text-align: center;
    
}

h1 {
    color: #040404;
    text-align: center;
    
}

div {
    color: rgb(15, 15, 15);
    text-align: center;
}